.postCard {
    max-width: 350px;
    min-height: 402px;
    padding: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.postCardImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 220px;
    margin-bottom: 16px;
    background-color: #E5F4FF;
    border-radius: 5px;
}

.postCardMeta {
    display: flex;
    justify-content: space-between;
}

.postCardMetaList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.postCardMetaItem {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey);
}

.postCardMetaItem:first-child::after {
    position: absolute;
    content: "";
    top: 7px;
    right: -9px;
    width: 2px;
    height: 2px;
    background-color: var(--grey);
}

.postCardLikes {
    display: flex;
    gap: 5px;
    font-size: 12px;
    line-height: 24px;
    color: var(--grey);
}

.postCardTitle {
    min-height: 48px;
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--black);
}

.postCardTextContent {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 322px;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey);
}

.postCardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.postCardTime {
    font-size: 12px;
    line-height: 16px;
    color: var(--grey);
}