.postWrapper {
    padding-top: 25px;
}

.post {
    background-color: turquoise;
}

.title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    color: var(--black);
}

.list {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.likes {
    display: flex;
    gap: 8px;
}

.desc {
    font-size: 18px;
    line-height: 32px;
    color: var(--grey);
}

.subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 32px;
    color: var(--black);
}

.likesBox {
    display: flex;
    gap: 14px;
}

.secondDesc {
    font-size: 18px;
    line-height: 32px;
    color: var(--grey);
}

.btnBox {
    display: flex;
    align-items: center;
    gap: 14px;
}