.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.headerGit:hover,
.headerGit:active {
    opacity: 0.7;
}

.right {
    display: flex;
    gap: 14px;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
